<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Char-code 2.0"
    Manufacturer="D-o-M-Pl"
    Version="2.0.0"
    UpgradeCode="7FEE9F72-840E-4EF5-8DE5-6E71EB6B785E"
    Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="Nowsza wersja Char-code jest już zainstalowana." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Char-code">
        <Component Id="WindowsLauncher" Guid="*">
          <File Source="..\..\scripts\windows-launch.ps1" />
        </Component>
        <Component Id="ComposeFile" Guid="*">
          <File Source="..\..\docker-compose.windows.yml" />
        </Component>
        <Component Id="ReadmeFile" Guid="*">
          <File Source="..\..\README.md" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Char-code 2.0" Level="1">
      <ComponentRef Id="WindowsLauncher" />
      <ComponentRef Id="ComposeFile" />
      <ComponentRef Id="ReadmeFile" />
    </Feature>
  </Package>
</Wix>
